<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <title>COSTOS GASTOS FIJOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome/v5.15.4/all.min.css">
    <link rel="stylesheet" href="~/Content/css/CostosGastos.css">
    <link rel="stylesheet" href="~/Content/css/loader/jquery.loadingModal.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/Content/css/FileInput/fileinput.min.css">
    <link rel="stylesheet" href="~/Content/css/FileInput/theme.css">

    <link rel="stylesheet" href="~/Content/css/datatables.min.css" />
    <link rel="stylesheet" href="~/Content/css/master.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="~/Scripts/FileInput/fileinput.min.js"></script>
    <script src="~/Scripts/FileInput/theme.js"></script>
    <script src="~/Scripts/FileInput/LANG.js"></script>
    <script src="~/Scripts/FileInput/locales/es.js"></script>
    <script src="~/Scripts/general/sweetalert.min.js"></script>
    <script src="~/Scripts/datatables/datatables.min.js"></script>
    <script src="~/Scripts/loader/jquery.loadingModal.js"></script>
    <script src="~/Scripts/general/common.js"></script>
    <script src="https://unpkg.com/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

        // URL utilizada para colocar la información de un data table en idioma ESPAÑOL.
        var langUriDataTable = "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json";
    </script>

    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>