*d {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 80%;
}

body {
  font-family:Calibri;
  background-color: rgba(12, 2, 6, .5);
  background-image: url('../Images/CGFijos.jpg'); 
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;  
}
.cuadradoBackBtn
{
	position: absolute;
	top: 20px;    
	left: 10px;
	width: 210px;
	height: 90px;
	backgrounD: rgba(255,255,255,.5);
	z-index: 11;
	border-radius: 25px;
}

.logoCompaniaBackBtn
{
    position: absolute;
    top:30px;
    left: 14px;
    width: 12%;
    height: auto;
    z-index: 12;
}



/* Layout helpers
----------------------------------*/
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}

.ui-front {
	z-index: 100;
}

.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left; /* Mueve pestañas a la izquierda o derecha*/
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	width:1000px;    
    border-width: 3;	    
	padding: 1em 1.4em;
	background: none; /* fondo del área content de los controles*/
}

/* Component containers
----------------------------------*/

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: rgba(255, 255, 255, .75); /*color fondo*/
	width: 1010px;    
	left: 100px;
	top:30px;
}

/* Interaction states
COMO SE VEN LOS TEXTOS DE LAS PESTAÑAS, ACTÚAN COMO LINKS
----------------------------------*/

/*Diseño de la pestaña*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
    background: rgba(48, 170, 20, .5);
	font-weight: normal;
	color: rgba(255, 255, 255, .75);
}

/* Cuando la pestaña es visitada*/
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

/* Cuando el mouse se posa encima de la pestaña*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #99A8BB;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}

/*Pestaña seleccionada*/
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: rgba(255, 255, 255, .75);
	font-weight:bold;
	color: #393F50;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #393F50;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee;
	color: black;
	width:300px;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: black;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 25px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 25px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 25px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 25px;
}

.file-preview div {
	color: #1b1b1b !important;
}

.file-drop-zone-title {
	border: #000 !important;
}

.file-drop-zone {
	border: 1px dashed #000 !important;
	min-height: 190px !important;
	border-radius: 8px !important;
}

.file-caption ::placeholder {
	color: #1b1b1b !important;
}

.container {
	width: 60%;
}

.uploadFileContainer {
	border-top-left-radius: 25px !important;
	border-top-right-radius: 25px !important;
	border-bottom-left-radius: 25px !important;
	border-bottom-right-radius: 25px !important;
	background-color: rgba(255, 255, 255, .75);
}

.kv-file-content {
	height: 90px !important;
}

	.kv-file-content .kv-preview-data {
		width: 180px !important;
	}

.file-thumbnail-footer {
	height: 20px !important;
}

.krajee-default .file-footer-caption {
	padding-top: 40px !important;
	margin-bottom: 4px !important;
}

.krajee-default.file-preview-frame .kv-file-content {
	width: 180px !important;
}

.roundedTopLeft {
	border-top-left-radius: 25px !important;
}

.roundedTopRight {
	border-top-right-radius: 25px !important;
}

.file-drop-zone-title {
	padding: 42px 10px !important;
}